<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body>
        {{>header}}
        <h1 style="color: red; text-align: center">
            Welcome to weather app HBS 🌩 👋
        </h1><div><img src="./assets/pic.png" alt="photo" /></div>
        <div class="search">
            <input id="searchInput" placeholder="Search For a Location Here" />
            <span id="go" href="Search For Your Input">Search</span>
        </div>
    {{>footer}}
    </body>
    <script src="./js/index.js"></script>
</html>
