<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body style="display: grid; width: 100vw;height: 100vh;place-items: center;">
        <div><p>{{message}}</p>
        <p>Try visting our <a href="/">HOME</a> page</p></div>
    {{>footer}}
    </body>
</html>
