<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body style="display: grid; width: 100vw;height: 100vh;place-items: center;">
        <div><p>Sorry we can't find the page you looking for </p>
        <p>Try visting our <a href="/">HOME</a> page</p></div>
    </body>
    {{>footer}}
</html>
