<!DOCTYPE html>
<html lang="en">
    {{>head}}
    <body>
        {{>header}}
        <h1 style="color: red; text-align: center">
            Today's Weather
        </h1>
            <p>{{temp}} Degree Celcius</p>
            <p>{{preci}} Precipitation</p>
    </body>
    {{>footer}}
</html>
