body {
    background-color: darkslategrey;
}

h1 {
    font-family: cursive;
}
div {
    display: grid;
    place-items: center;
}

img {
    height: 400px;
    width: 400px;
    object-fit: contain;
    border: 4px solid #eeee;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

img:hover{
    border: 4px solid red;
}

p {
    font-family: cursive;
    color: lawngreen;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

footer{
    place-items: center;
    display: grid;
    font-size: 22px;
    font-weight: 800;
    color: hotpink;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 40vw;
}

nav > a{
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: blueviolet;
    transition: all 0.2s ease-in;
}
nav > a:hover{
    color: burlywood;
}

input {
    width: 375px;
    height: 30px;
    border-radius: 8px;
    color: rgb(82, 79, 79);
    font-weight: 900;
    padding: 5px 10px;
    outline: none;
    margin: 10px 0;
    font-size: 16px;
}

#go {
    font-family: inherit;
    text-decoration: none;
    color: darkgrey;
    padding: 10px;
    font-size: 22px;
    border: 2px solid lightcyan;
    box-shadow: 2px 4px 12px black;
    margin: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
    user-select: none;
}
#go:hover{
    transform: translateY(-3px);
}
#go:active{
    transform: translateY(3px);
    box-shadow: none;
}